@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import 'layout.css';
@import 'titul.css';
@import 'titul2.css';
@import 'titul3.css';
@import 'titul4.css';
@import 'titul5.css';
@import 'titul6.css';
@import 'titul7.css';
@import 'titul8.css';
@import 'titul9.css';
@import 'about.html';
