.titul {
  width: 1280px;
  height: 845px;
  position: relative;
}
.titul > h2 {
  font-size: 90px;
  color: white;
  position: absolute;
}
.titul > h3 {
  font-size: 40px;
  color: white;
  position: absolute;
}
.taxofon {

  width: 103px;
  height: 49px;
  top: 671px;
  left: 377px;

}
.oldstandart {
  font-size: 140px;
  width: 1017px;
  height: 173px;
  top: 234px;
  left: 131px;
  color: white;
  position: absolute;
}
.xx {
  width: 135px;
  height: 111px;
  top: 691px;
  left: 1029px;
}
.xix {
  width: 171px;
  height: 111px;
  top: 691px;
  left: 92px;
}
.q1 {
  width: 103px;
  height: 49px;
  top: 642px;
  left: 126px;
}
.q2 {
  width: 122px;
  height: 49px;
  top: 642px;
  left: 1036px;
}
.square {
  width: 1175px;
  height: 219px;
  border: 10px solid white;
  border-radius: 30px;
  position: absolute;
  top: 176px;
  left: 43px;
}
.square1 {
  width: 1260px;
  height: 759px;
  border: 10px solid white;
  border-radius: 63px 63px 0px 0px;
  position: absolute;
  top: 66px;
}
.square2 {
  width: 1175px;
  height: 263px;
  border: 10px solid white;
  border-radius: 30px 30px 0px 0px;
  position: absolute;
  top: 562px;
  left: 43px;
}
.line1 {
  width: 1280px;
  height: 10px;
  background: white;
  position: absolute;
  top: 525px;
}
.line2 {
  width: 10px;
  height: 274px;
  background: white;
  position: absolute;
  top: 566px;
  left: 307px;
}
.line3 {
  width: 10px;
  height: 274px;
  background: white;
  position: absolute;
  top: 566px;
  left: 951px;
}
