.titul3 {
  width: 1280px;
  height: 2189px;
  position: relative;
}
.kv {
  width: 663px;
  height: 663px;
  background: white;
  border-radius: 30px;
  position: absolute;
  top: 62px;
  left: 308px;
}
.krug1 {
  width: 298px;
  height: 298px;
  background: black;
  border-radius: 500px;
  position: absolute;
  top: 126px;
  left: 491px;
}
.krug2 {
  width: 220px;
  height: 220px;
  background: black;
  border-radius: 500px;
  border: 10px solid white;
  position: absolute;
  top: 154px;
  left: 519px;
}
.krug3 {
  width: 108px;
  height: 108px;
  background: white;
  border-radius: 500px;
  position: absolute;
  top: 220px;
  left: 585px;
}
.krug4 {
  width: 108px;
  height: 108px;
  background: black;
  border-radius: 500px;
  position: absolute;
  top: 460px;
  left: 585px;
}
.krug5 {
  width: 47px;
  height: 47px;
  background: black;
  border-radius: 500px;
  position: absolute;
  top: 645px;
  left: 616px;
}
.krug6 {
  width: 32px;
  height: 32px;
  background: black;
  border-radius: 500px;
  position: absolute;
  top: 90px;
  left: 342px;
}
.krug7 {
  width: 32px;
  height: 32px;
  background: black;
  border-radius: 500px;
  position: absolute;
  top: 90px;
  left: 905px;
}
.krug8 {
  width: 32px;
  height: 32px;
  background: black;
  border-radius: 500px;
  position: absolute;
  top: 667px;
  left: 342px;
}
.krug9 {
  width: 32px;
  height: 32px;
  background: black;
  border-radius: 500px;
  position: absolute;
  top: 667px;
  left: 905px;
}
.krug10 {
  width: 21px;
  height: 21px;
  background: white;
  border-radius: 500px;
  border: 5px solid black;
  position: absolute;
  top: 377px;
  left: 342px;
}
.krug11 {
  width: 21px;
  height: 21px;
  background: white;
  border-radius: 500px;
  border: 5px solid black;
  position: absolute;
  top: 377px;
  left: 905px;
}
.lin {
  width: 27px;
  height: 5px;
  background: black;
  transform: rotate(45deg);
  position: absolute;
  top: 390px;
  left: 906px;
}
.lin1 {
  width: 27px;
  height: 5px;
  background: black;
  transform: rotate(-45deg);
  position: absolute;
  top: 392px;
  left: 906px;
}
.lin2 {
  width: 27px;
  height: 5px;
  background: black;
  transform: rotate(45deg);
  position: absolute;
  top: 390px;
  left: 343px;
}
.lin3 {
  width: 27px;
  height: 5px;
  background: black;
  transform: rotate(-45deg);
  position: absolute;
  top: 392px;
  left: 343px;
}
.tele {
  width: 579px;
  height: 1057px;
  position: absolute;
  top: 664px;
  left: 484px;
}
.tele2 {
  width: 756px;
  height: 1156px;
  position: absolute;
  top: 571px;
}
.par2 {
  width: 529px;
  height: 192px;
  top: 1045px;
  left: 655px;
}
.w1 {
  width: 32px;
  height: 42px;
  top: 1050px;
  left: 612px;
}
.hello {
  font-size: 128px;
  color: white;
  position: absolute;
  top: 1730px;
  left: 354px;
}
.hello1 {
  font-size: 128px;
  color: white;
  font-style: italic;
  position: absolute;
  top: 1843px;
  left: 707px;
}
.hello2 {
  font-size: 128px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 1956px;
  left: 218px;
}
