.titul2 {
  width: 1280px;
  height: 600px;
  position: relative;
}

h4 {
  font-size: 34px;
  color: white;
  position: absolute;
  font-style: italic;
  line-height: 42px;
}
h5 {
  font-size: 34px;
  color: white;
  position: absolute;
  font-weight: bold;
}
.titul2 > h6 {
  font-size: 16px;
  color: white;
  position: absolute;
}
.par {
  width: 593px;
  height: 326px;
  top: 160px;
  left: 103px;
}
.w {
  width: 32px;
  height: 42px;
  top: 162px;
  left: 59px;
}
.chertejimg {
  width: 494.92px;
  height: 354px;
  top: 163px;
  left: 714px;
  position: absolute;
}
.mic {
width: 116.59px;
height: 29.82px;
top: 158px;
left: 750px;
}
.tr {
  width: 116.59px;
  height: 29.82px;
  top: 278px;
  left: 716px;
}
.dis {
  width: 116.59px;
  height: 29.82px;
  top: 392px;
  left: 715px;
}
.cm {
  width: 40px;
  height: 20px;
  top: 320px;
  left: 1042px;
  transform: rotate(90deg);
}
