.titul5 {
  width: 1280px;
  height: 1440px;
  position: relative;
}
.titul5 > h4 {
  top: 105px;
  left: 114px;
}
.titul5 > h5 {
  top: 109px;
  left: 70px;
}
.kv4 {
  width: 694px;
  height: 459px;
  border: 5px solid white;
  position: absolute;
  top: 306px;
  left: 71px;
}
.kv5 {
  width: 694px;
  height: 48px;
  border: 5px solid white;
  background: black;
  position: absolute;
  top: 398px;
  left: 71px;
}
.kv6 {
  width: 48px;
  height: 458px;
  border: 5px solid white;
  background: black;
  position: absolute;
  top: 306px;
  left: 552px;
}
.bant {
  width: 353px;
  height: 338px;
  position: absolute;
  top: 243px;
  left: 406px;
}
.krug12 {
  width: 55px;
  height: 55px;
  border: 5px solid white;
  border-radius: 100px;
  background: black;
  position: absolute;
  top: 388px;
  left: 546px;
}
.podarok > h6 {
  width: 296px;
  height: 114px;
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  color: white;
  line-height: 56px;
  top: 506px;
  left: 117px;
}
.txt9 p:nth-of-type(1) {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 620px;
  left: 117px;
}
.txt9 p:nth-of-type(2) {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 721px;
  left: 117px;
}
.krug13 {
  width: 166px;
  height: 166px;
  position: absolute;
  border: 5px solid white;
  border-radius: 100px;
  top: 220px;
  left: 934px;
}
.kv7 {
  width: 373px;
  height: 469px;
  background: white;
  position: absolute;
  left: 835px;
  top: 306px;
}
.polosy {
  width: 373px;
  height: 469px;
  position: absolute;
  left: 835px;
  top: 306px;
}
.kv8 {
  width: 258px;
  height: 127px;
  background: white;
  border: 5px solid black;
  position: absolute;
  left: 888px;
  top: 416px;
}
.txt10 p:nth-of-type(1) {
  font-size: 32px;
  font-weight: bold;
  color: black;
  position: absolute;
  text-align: center;
  top: 448px;
  left: 907px;
  line-height: 36px;
}
.txt10 p:nth-of-type(2) {
  font-size: 12px;
  color: black;
  position: absolute;
  top: 528px;
  left: 1023px;
}
.class1 {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 0px;
}
.kv9 {
  width: 476px;
  height: 297px;
  background: white;
  margin-left: 71px;
  margin-top: 805px;
}
.krug14 {
  width: 26px;
  height: 26px;
  border: 1px solid black;
  border-radius: 100px;
}
.maska {
  width: 477.86px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-left: 71px;
  margin-top: -312px;
}
.maska2 {
  width: 477.86px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-left: 71px;
  margin-top: -15px;
}
.txt11 p:nth-of-type(1) {
  font-size: 32px;
  color: black;
  font-style: italic;
  position: absolute;
  top: 853px;
  left: 102px;
}
.txt11 p:nth-of-type(2) {
  font-size: 15px;
  color: black;
  font-style: italic;
  position: absolute;
  top: 924px;
  left: 102px;
  line-height: 17px;
}
.txt11 p:nth-of-type(3) {
  font-size: 15px;
  color: black;
  font-style: italic;
  position: absolute;
  top: 1050px;
  left: 298px;
  line-height: 17px;
}
.kv10 {
  width: 466px;
  height: 312px;
  border: 5px solid white;
  margin-left: 71px;
  margin-top: 30px;
}
.polosy2 {
  width: 475px;
  height: 321px;
  position: absolute;
  left: 72px;
  top: 1132px;
}
.kv11 {
  width: 53px;
  height: 311px;
  border: 5px solid white;
  background: black;
  position: absolute;
  left: 170px;
  top: 1133px;
}
.kv12 {
  width: 466px;
  height: 53px;
  border: 5px solid white;
  background: black;
  position: absolute;
  left: 71px;
  top: 1230px;
}
.txt12 > p {
  font-size: 21px;
  font-style: italic;
  color: white;
}
.txt12 {
  width: 456px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-left: 85px;
  margin-top: -203px;
}
.kv13 {
  width: 437px;
  height: 230px;
  background: white;
  margin-left: 71px;
  margin-top: 29px;
}
.instr > p {
  font-size: 25px;
  color: black;
  position: absolute;
  text-align: center;
  top: 1553px;
  left: 147px;
  line-height: 28px;
}
.krug15 {
  width: 27px;
  height: 27px;
  border-radius: 500px;
  background: black;
}
.krkl1 {
  width: 401.01px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-left: 88px;
  margin-top: -212px;
}
.krkl2 {
  width: 401.01px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-left: 88px;
  margin-top: -42px;
}
.line4 {
  background: black;
  width: 297px;
  height: 5px;
  position: absolute;
  left: 140px;
  top: 1683px;
}
.line5 {
  background: black;
  width: 297px;
  height: 5px;
  position: absolute;
  left: 142px;
  top: 1512px;
}
.line6 {
  background: black;
  width: 5px;
  height: 120px;
}
.lne2 {
  width: 379px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-left: 100px;
  margin-top: -174px;
}
.kv14 {
  width: 591px;
  height: 388px;
  border: 5px solid white;
  position: absolute;
  top: 805px;
  left: 607px;
}
.kv15 {
  width: 551px;
  height: 350px;
  border: 5px solid white;
  position: absolute;
  top: 824px;
  left: 627px;
}
.txt13 p:nth-of-type(1) {
  font-size: 80px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 921px;
  left: 661px;
}
.txt13 p:nth-of-type(2) {
  font-size: 110px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 1014px;
  left: 670px;
  letter-spacing: -11px;
}
.kv16 {
  width: 272px;
  height: 143px;
  background: white;
  position: absolute;
  top: 1233px;
  left: 607px;
}
.krug16 {
  width: 17px;
  height: 17px;
  background: black;
  border-radius: 100px;
}
.tchk {
  width: 249.57px;
  height: 17px;
  display: flex;
  justify-content: space-between;
  margin-left: 618px;
  margin-top: -416px;
}
.oplata > p {
  font-size: 25px;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 1295px;
  left: 657px;
}
.kv17 {
  width: 273px;
  height: 142px;
  background: white;
  position: absolute;
  top: 1233px;
  left: 934px;
}
.krug17 {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  background: black;
}
.krug18 {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  background: black;
}
.derzh {
  width: 303.96px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-left: 917px;
  margin-top: -98px;
}
.derzh2 {
  width: 303.96px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-left: 917px;
  margin-top: 40px;
}
.txt14 p:nth-of-type(1) {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  color: black;
  position: absolute;
  top: 1259px;
  left: 992px;
}
.txt14 p:nth-of-type(2) {
  font-size: 15px;
  color: black;
  position: absolute;
  top: 1280px;
  left: 991px;
  line-height: 17px;
}
